.card-shadown {
  transition: all 0.5s ease;
}

.card-shadown:hover {
  -webkit-box-shadow: 0 0 1.5em black;
  -moz-box-shadow: 0 0 1.5em black;
  box-shadow: 0 0 1.5em black;
  transition: all 1s ease;
}